#Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

#Jupyter Notebook
.ipynb_checkpoints

#Dữ liệu
data/openvivqa/
*.zip
*.json
!vocab.json

#Trọng số mô hình
A1_A2_model/
qwen2vl_finetuned_final/
qwen2vl_dpo_final/
checkpoint-*/
saved_models/

#Kết quả & Logs
results/
*.png
*.log

#VS Code / IDE
.vscode/
.idea/